@import "tailwindcss";
@plugin "daisyui";

/* index.css or global css */
html, body {
  background-color: #000000;
}

.hover-gallery > * {
  transition: opacity 0.4s ease;
}

/* override the display:none hide so it can fade instead */
.hover-gallery:has(*:hover) > :nth-child(1) {
  display: block !important;
  opacity: 0 !important;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
}